// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.title {
  border-bottom: $regular_border_line;
  padding: 0.5rem;
}

.logo {
  font-family: $roboto;
  font-size: $font_size_2;
  text-decoration: none;
  .logo_last {
    font-family: $fira;
  }
}
