body {
  background-color: #ffe8e2;
  color: #303030;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #11001f;
    color: #f5f5f5;
  }
}

html[data-theme='light'] body {
  background-color: #ffe8e2;
  color: #303030;
}

html[data-theme='dark'] body {
  background-color: #11001f;
  color: #f5f5f5;
}
