// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Palette
$brand_primary: #FFE8E2;
$brand_secondary: #FFE8E2;
$neutral_dark: black;
$neutral_light: white;



$roboto: "Roboto Slab", serif;
$fira: "Fira Code", serif;

$font_size_3: 1.6rem;
$font_size_2: 1.33rem;
$font_size_1: 1.2rem;
$font_size_xs: 0.75rem;

$desktop_font_size_3: 2rem;
$desktop_font_size_2: 1.6rem;
$desktop_font_size_1: 1.4rem;
$desktop_font_size_0: 1.1rem;
$desktop_font_size_xs: 0.9rem;

$regular_border: 1px solid;

/// Breakpoints map
$breakpoints: (
  "small": 600px,
  "medium": 768px,
  "large": 1024px,
) !default;
