// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Palette
$brand_primary: #FFE8E2;
$brand_secondary: #c9e7c8;
$neutral_dark: black;
$neutral_light: white;
$hover: rgb(255, 97, 184);//!to adjust
$focus: rgb(0, 194, 168);//!to adjust

$fira: "Fira Code", monospace;

$font_size_3: 1.5rem;
$font_size_2: 1.15rem;
$font_size_1: 1rem;
$font_size_xs: 0.75rem;

$desktop_font_size_3: 2rem;
$desktop_font_size_2: 1.5rem;
$desktop_font_size_1: 1.3rem;
$desktop_font_size_0: 1.1rem;
$desktop_font_size_xs: 0.9rem;

$regular_border: 1px solid;

/// Breakpoints map
$breakpoints: (
  "small": 600px,
  "medium": 768px,
  "large": 1024px,
) !default;
