// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  display: flex;
  justify-content: center;
  border-top: $regular_border;
  font-size: $font_size_xs;
  @include desktop_min_width {
    font-size: $desktop_font_size_xs;
  }
  .copyright__img {
    max-height: $font_size_xs;
    margin-bottom: -0.1rem;
    @include desktop_min_width {
      max-height: $desktop_font_size_xs;
    }
  }
}

