// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header{
  border-bottom: $regular_border;
  padding: 0.5rem;
}

.header__title {
  text-decoration: none;
  font-family: $fira;
  font-size: $font_size_2;
  .header__title-last {
    font-family: $fira;
  }
}
