.navigation {
  text-align: center;
  ul {
    list-style-type: none;
    margin-left: -35%;
    display: flex;
    flex-direction: column;
  }
  li {
    margin: 1rem auto;
    text-align: center;
    min-height: 80px;
  }
}

.button__frame {
  text-decoration: none;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: $neutral_dark;
  border: 3px solid $neutral_dark;
  &:hover {
    border-color: $hover;
    color: $hover;
    
  }
  &:focus,
  &:active {
    border-color: $focus;
    color: $focus;
  }
}

.button__icon {
  display: inline;
  width: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
}
