// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $secondary_color_light;
}

.container {
  background-color: $brand_color_light;
  border: $regular_border_line;
  margin-top: -1px;
  margin-bottom: 1rem; 
  padding: 0 0.5rem;
  h1,
  h2,
  h3,
  p,
  a {
    margin: 0.5rem;
  }
}


a {
  &:hover {
    color: $hover_color_dark;
  }
  &:active,
  &:focus {
    background: linear-gradient(to right,$hover_color_light, $secondary_color_light);
  }
}

.dark-mode {
  background-color: $secondary_color_dark;
  color: $neutral_color_light;
  a {
    color: $brand_color_light;
    &:hover {
      color: $hover_color_light;
    }
    &:active,
    &:focus {
    background: linear-gradient(to right,$hover_color_dark, $secondary_color_dark);
    }
  }
  .container {
    background-color: $neutral_color_dark;
    border-color: $neutral_color_light;
  }
  .portrait,
  #projects,
  #about_title,
  .skills,
  #contact_title {
    border-color: $neutral_color_light;
  }
}


