// -----------------------------------------------------------------------------
// This file contains all styles related to the "project" card.
// -----------------------------------------------------------------------------

.card {
  text-decoration: none;
  border: $regular_border_line;
  min-width: 150px; //!to delete once set up done
  max-width: 47%;
  background-color: $brand_color_light;
  padding: 0 0.5rem;
  margin: 1%;
  img {
    max-width: 100%;
    margin-top: 1rem;
    border: $regular_border_line;
  }
  h3 {
    margin: 0.5rem auto;
  }
  p {
    font-size: 0.9rem;
    margin: 0 auto 1.5rem auto;
  }
  transition: transform 0.3s, box-shadow 0.4s;
  &:hover {
    background-color: $neutral_color_light;
    color: $neutral_color_dark;
    box-shadow: -6px 6px 0px 0px $neutral_color_dark;
    transform: translate(4px, -4px);
  }
  &:focus {
    box-shadow: -6px 6px 0px 0px $neutral_color_dark;
    transform: translate(4px, -4px);
  }
}

.dark-mode {
  .card {
    background-color: $neutral_color_dark;
    &:hover {
      background-color: $neutral_color_dark;
      color: $neutral_color_light;
      box-shadow: -6px 6px 0px 0px $neutral_color_light;
      transform: translate(4px, -4px);
    }
    &:focus {
      box-shadow: -6px 6px 0px 0px $neutral_color_light;
      transform: translate(4px, -4px);
    }
  }
}

