// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Palette
$brand_color_light: #f6dbbc;
$secondary_color_light: #ef9884;
$secondary_color_dark: #717171;
$neutral_color_dark: #3b1726;
$neutral_color_light: #e4e4e4;
$hover_color_light: #eba941;
$hover_color_dark: #3a4e64;

$roboto: "Roboto Slab", serif;
$fira: "Fira Code", serif;

$font_size_3: 1.6rem;
$font_size_2: 1.33rem;
$font_size_1: 1.2rem;
$font_size_xs: 0.75rem;

$regular_border_line: 1px solid $neutral_color_dark;

/// Breakpoints map
$breakpoints: (
  "small": 600px,
  "medium": 768px,
  "large": 1024px,
) !default;
