html {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  background-color: $brand_primary;
}

.desktop--only {
  @include mobile_max_width {
    display: none;
  }
}