body {
  color: $neutral_dark;
  @include desktop_min_width {
    font-size: $desktop_font_size_0;
  }
}

a {
  color: $neutral_dark;
  font-family: $fira;
}

p {
  font-family: $fira;
}

h1 {
  font-family: $roboto;
  font-size: $font_size_3;
  font-weight: 400;
  @include desktop_min_width {
    font-size: $desktop_font_size_3;
  }
}

h2 {
  font-family: $roboto;
  font-size: $font_size_2;
  font-weight: 600;
  @include desktop_min_width {
    font-size: $desktop_font_size_2;
  }
}

h3 {
  font-family: $roboto;
  font-size: $font_size_1;
  font-weight: 500;
  @include desktop_min_width {
    font-size: $desktop_font_size_1;
  }
}

.bolder {
  font-weight: 600;
}
