@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.page {
  background-color: #FFE8E2;
}

@media screen and (max-width: 600px) {
  .page {
    margin: 0 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  .page {
    margin: 0 7%;
  }
}

@media screen and (min-width: 1024px) {
  .page {
    margin: 0 12%;
  }
}

.container {
  border: 1px solid;
  margin-bottom: 2rem;
  background-color: white;
}

.padding-regular {
  padding-left: 1rem;
}

@media screen and (min-width: 1024px) {
  .padding-regular {
    padding-left: 3rem;
  }
}

.intro-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro-nav__container .intro {
  width: 70%;
}

.intro-nav__container .navigation {
  width: 30%;
}

@media screen and (max-width: 600px) {
  .desktop--only {
    display: none;
  }
}

* {
  font-family: "Fira Code", monospace;
}

body {
  color: black;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.1rem;
  }
}

a {
  color: black;
}

.link-regular:hover {
  color: #287773;
}

.link-regular:hover .icon {
  -webkit-filter: invert(38%) sepia(13%) saturate(2135%) hue-rotate(128deg) brightness(96%) contrast(82%);
          filter: invert(38%) sepia(13%) saturate(2135%) hue-rotate(128deg) brightness(96%) contrast(82%);
}

.link-regular:focus {
  color: #da2f8d;
  outline: 2px dashed #da2f8d;
  outline-offset: 0.2rem;
}

.link-regular:focus .icon {
  -webkit-filter: invert(30%) sepia(97%) saturate(1353%) hue-rotate(299deg) brightness(86%) contrast(100%);
          filter: invert(30%) sepia(97%) saturate(1353%) hue-rotate(299deg) brightness(86%) contrast(100%);
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.15rem;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size: 1.3rem;
  }
}

.bolder {
  font-weight: 600;
}

.header {
  border-bottom: 1px solid;
  padding: 0.5rem;
}

.header__title {
  text-decoration: none;
  font-family: "Fira Code", monospace;
  font-size: 1.15rem;
}

.header__title .header__title-last {
  font-family: "Fira Code", monospace;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid;
  font-size: 0.75rem;
}

@media screen and (min-width: 1024px) {
  .footer {
    font-size: 0.9rem;
  }
}

.footer .copyright__img {
  max-height: 0.75rem;
  margin-bottom: -0.1rem;
}

@media screen and (min-width: 1024px) {
  .footer .copyright__img {
    max-height: 0.9rem;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: white;
  border: 1px solid;
}

.intro__content {
  padding: 1.5rem 0.5rem 1.5rem 1rem;
  border-top: 1px solid;
}

@media screen and (min-width: 768px) {
  .intro__content {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .intro__content {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.intro__title {
  margin: 0 auto;
}

.intro__subtitle {
  margin: 0.5rem auto -0.5rem auto;
}

.intro__portrait {
  background-color: #c8dbda;
  max-width: 100%;
  border-left: 1rem solid black;
}

@media screen and (min-width: 1024px) {
  .intro__portrait {
    padding-left: 25%;
    padding-right: 15%;
    max-width: 100%;
    border-left-width: 3rem;
  }
}

.intro__copyright {
  font-size: 0.75rem;
}

.intro__copyright a {
  margin: 0;
}

.navigation {
  text-align: center;
  margin-top: 1rem;
}

.navigation ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation li {
  text-align: center;
  min-height: 90px;
}

.navigation__lightswitch {
  margin: 1rem auto 1rem 25px;
}

.navigation__button {
  margin: 1rem auto 1rem -20px;
}

.button__frame {
  text-decoration: none;
  position: absolute;
  margin: 0 auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: black;
  border: 3px solid black;
}

.button__frame:hover {
  border-color: #287773;
  color: #287773;
}

.button__frame:hover .button__icon {
  -webkit-filter: invert(90%) sepia(6%) saturate(421%) hue-rotate(128deg) brightness(97%) contrast(88%);
          filter: invert(90%) sepia(6%) saturate(421%) hue-rotate(128deg) brightness(97%) contrast(88%);
}

.button__frame:focus, .button__frame:active {
  border-color: #da2f8d;
  color: #da2f8d;
}

.button__frame:focus .button__icon, .button__frame:active .button__icon {
  -webkit-filter: invert(30%) sepia(97%) saturate(1353%) hue-rotate(299deg) brightness(86%) contrast(100%);
          filter: invert(30%) sepia(97%) saturate(1353%) hue-rotate(299deg) brightness(86%) contrast(100%);
}

.button__icon {
  display: inline;
  width: 50px;
  margin-top: 15px;
  margin-bottom: 15px;
  -webkit-filter: invert(88%) sepia(3%) saturate(2310%) hue-rotate(317deg) brightness(107%) contrast(101%);
          filter: invert(88%) sepia(3%) saturate(2310%) hue-rotate(317deg) brightness(107%) contrast(101%);
}

.projects__header {
  border-top-width: 1rem;
}

.projects__highlighted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

.projects__more {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-right: 6rem solid black;
}

@media screen and (min-width: 1024px) {
  .projects__more {
    border-right-width: 20rem;
  }
}

.projects__more a:focus, .projects__more a:active {
  background: none;
}

.about__header {
  border-top: 1rem solid black;
  border-bottom: 1px solid;
}

@media screen and (min-width: 1024px) {
  .about__bio {
    padding: 0rem 3rem;
  }
}

.about__bio img {
  margin-top: 1rem;
  border: 1px solid;
  width: 300px;
}

.about__bio p {
  font-size: 1rem;
}

.about__skills {
  border-left: 1rem solid black;
  padding: 0.5rem 0rem 2rem 0.5rem;
}

@media screen and (min-width: 1024px) {
  .about__skills {
    border-left-width: 4rem;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-bottom: 3rem;
  }
}

.about__skills a:focus, .about__skills a:active {
  background: none;
}

.contact__header h1 {
  border-right: 10rem solid black;
}

@media screen and (min-width: 1024px) {
  .contact__header h1 {
    border-right: 30rem solid black;
  }
}

.contact__list {
  margin-top: -1rem;
  padding: 0.5rem 0rem 1rem 2.5rem;
  line-height: 2rem;
  list-style-type: none;
}

@media screen and (min-width: 1024px) {
  .contact__list {
    padding-left: 5.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .contact__list {
    margin-left: 3.5rem;
  }
}

.contact__list li {
  margin: 1rem 0rem;
}

.contact__list li a {
  margin-left: -1.5rem;
}

.contact__list li a img {
  max-height: 1rem;
  padding-right: 0.5rem;
  vertical-align: middle;
}

.the-arrow {
  width: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}

.the-arrow.-left > .shaft {
  width: 0;
  background-color: black;
}

.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
  width: 0;
  background-color: black;
}

.the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.the-arrow.-right {
  top: 1px;
}

.the-arrow.-right > .shaft {
  width: 1px;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
  width: 8px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.the-arrow > .shaft {
  background-color: black;
  display: block;
  height: 1px;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  will-change: transform;
}

.the-arrow > .shaft:before, .the-arrow > .shaft:after {
  background-color: black;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.the-arrow > .shaft:before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.the-arrow > .shaft:after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.animated-arrow {
  display: inline-block;
  color: black;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.animated-arrow:hover, .animated-arrow:focus, .animated-arrow:active {
  color: black;
}

.animated-arrow:hover > .the-arrow.-left > .shaft, .animated-arrow:focus > .the-arrow.-left > .shaft, .animated-arrow:active > .the-arrow.-left > .shaft {
  width: 64px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: black;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after, .animated-arrow:focus > .the-arrow.-left > .shaft:before, .animated-arrow:focus > .the-arrow.-left > .shaft:after, .animated-arrow:active > .the-arrow.-left > .shaft:before, .animated-arrow:active > .the-arrow.-left > .shaft:after {
  width: 8px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  background-color: black;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:focus > .the-arrow.-left > .shaft:before, .animated-arrow:active > .the-arrow.-left > .shaft:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:after, .animated-arrow:focus > .the-arrow.-left > .shaft:after, .animated-arrow:active > .the-arrow.-left > .shaft:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.animated-arrow:hover > .main, .animated-arrow:focus > .main, .animated-arrow:active > .main {
  -webkit-transform: translateX(17px);
          transform: translateX(17px);
  -webkit-transform: translateX(80px);
          transform: translateX(80px);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft, .animated-arrow:focus > .main > .the-arrow.-right > .shaft, .animated-arrow:active > .main > .the-arrow.-right > .shaft {
  width: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after, .animated-arrow:focus > .main > .the-arrow.-right > .shaft:before, .animated-arrow:focus > .main > .the-arrow.-right > .shaft:after, .animated-arrow:active > .main > .the-arrow.-right > .shaft:before, .animated-arrow:active > .main > .the-arrow.-right > .shaft:after {
  width: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:focus > .main > .the-arrow.-right > .shaft:before, .animated-arrow:active > .main > .the-arrow.-right > .shaft:before {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after, .animated-arrow:focus > .main > .the-arrow.-right > .shaft:after, .animated-arrow:active > .main > .the-arrow.-right > .shaft:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.animated-arrow > .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.animated-arrow > .main > .text {
  margin: 0 16px 0 0;
  line-height: 1;
}

.animated-arrow > .main > .the-arrow {
  position: relative;
}

.projects__card {
  text-decoration: none;
  border: 1px solid;
  max-width: 47%;
  background-color: white;
  padding: 0 0.5rem;
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.3s, -webkit-box-shadow 0.4s;
  transition: -webkit-transform 0.3s, -webkit-box-shadow 0.4s;
  transition: transform 0.3s, box-shadow 0.4s;
  transition: transform 0.3s, box-shadow 0.4s, -webkit-transform 0.3s, -webkit-box-shadow 0.4s;
}

@media screen and (min-width: 1024px) {
  .projects__card {
    padding: 0.5rem 1rem;
  }
}

.projects__card img {
  max-width: 100%;
  margin-top: 1rem;
  border: 1px solid;
}

.projects__card h3 {
  margin-top: 1rem;
}

.projects__card p {
  font-size: 0.9rem;
  margin: -1rem auto 1.5rem auto;
}

@media screen and (min-width: 1024px) {
  .projects__card p {
    font-size: 1rem;
  }
}

.projects__card:hover {
  background-color: white;
  color: black;
  -webkit-box-shadow: -6px 6px 0px 0px black;
          box-shadow: -6px 6px 0px 0px black;
  -webkit-transform: translate(4px, -4px);
          transform: translate(4px, -4px);
}

.projects__card:focus {
  -webkit-box-shadow: -6px 6px 0px 0px black;
          box-shadow: -6px 6px 0px 0px black;
  -webkit-transform: translate(4px, -4px);
          transform: translate(4px, -4px);
}

/* The switch - the box around the slider - ok */
.switch {
  position: absolute;
  width: 70px;
  height: 35px;
  margin-left: -35px;
  margin-top: 0.5rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-box-shadow: inset 0 0 0 1px black;
          box-shadow: inset 0 0 0 1px black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggleicon {
  position: absolute;
  max-height: 30px;
  bottom: 3px;
}

.toggleicon#moon {
  left: 35px;
}

.toggleicon#sun {
  display: none;
}

input:checked + .slider {
  background-color: black;
  -webkit-box-shadow: inset 0 0 0 1px black;
          box-shadow: inset 0 0 0 1px black;
}

input:checked + .slider::before {
  -webkit-transform: translateX(34px);
          transform: translateX(34px);
  background-color: white;
}

.dark-mode #moon {
  display: none;
}

.dark-mode #sun {
  display: inline !important;
  left: 4px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
/*# sourceMappingURL=main.css.map */